h1 {
	font-family: courier;
}

p {
	font-family: courier;
}

#run-button {
	margin-top: 1.5rem;
}

#term {
	height: 40rem;
}

#editor {
	height: 40rem;

	/* Required by ace. */
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
